<h2 mat-dialog-title>Request a tool</h2>
<mat-dialog-content>
  <form [formGroup]="form" class="d-grid gap-2">
    <p class="m-0 text-body-secondary">
      Give a brief description of the tool you are looking for. A notification will be sent to all users.
    </p>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Message</mat-label>
      <textarea matInput formControlName="message" rows="5" maxlength="1000"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close [disabled]="saving()">
    <mat-icon class="material-symbols-outlined">close</mat-icon>
    Cancel
  </button>
  <button mat-flat-button type="button" (click)="submit()" [disabled]="saving()">
    @if (saving()) {
    <mat-spinner diameter="18"></mat-spinner>
    } @else {
    <mat-icon class="material-symbols-outlined">send</mat-icon>
    }
    @if (!saving()) {
    Send
    }
  </button>
</mat-dialog-actions>